<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.byunchangbin.business">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" > </uses-permission>
    <uses-permission android:name="android.permission.SEND_SMS" > </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS" > </uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="다모아-사업자"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.byunchangbin.business.LoginActivity">

        </activity>
        <activity
            android:name="com.example.byunchangbin.business.RegisterActivity"
            android:parentActivityName="com.example.byunchangbin.business.LoginActivity" />
        <activity
            android:name="com.example.byunchangbin.business.MainActivity"
            android:parentActivityName="com.example.byunchangbin.business.LoginActivity" />
        <activity
            android:name="com.example.byunchangbin.business.MenuActivity"
            android:parentActivityName="com.example.byunchangbin.business.LoginActivity" />
        <activity
            android:name="com.example.byunchangbin.business.NoticeActivity"
            android:parentActivityName="com.example.byunchangbin.business.LoginActivity" />
        <activity
            android:name="com.example.byunchangbin.business.UploadImageActivity"
            android:parentActivityName="com.example.byunchangbin.business.LoginActivity" />
        <activity
            android:name="com.example.byunchangbin.business.UploadMenuActivity"
            android:parentActivityName="com.example.byunchangbin.business.LoginActivity" />
        <activity
            android:name="com.example.byunchangbin.business.UploadNoticeActivity"
            android:parentActivityName="com.example.byunchangbin.business.LoginActivity" />
        <activity
            android:name="com.example.byunchangbin.business.OrdersActivity"
            android:parentActivityName="com.example.byunchangbin.business.LoginActivity" />
        <activity
            android:name=".MenuPopUpActivity"
            android:theme="@style/Theme.AppCompat.Dialog"/>
        <activity
            android:name=".NoticePopupActivity"
            android:theme="@style/Theme.AppCompat.Dialog"/>
        <activity
            android:name=".OrdersPopUpActivity"
            android:theme="@style/Theme.AppCompat.Dialog"/>
        <activity
            android:name="com.example.byunchangbin.business.MenuModifiedActivity"
            android:parentActivityName="com.example.byunchangbin.business.LoginActivity" />
        <activity
            android:name="com.example.byunchangbin.business.SalseActivity"
            android:parentActivityName="com.example.byunchangbin.business.LoginActivity" />
        <activity
            android:name="com.example.byunchangbin.business.NoticeModifiedActivity"
            android:parentActivityName="com.example.byunchangbin.business.LoginActivity" />

    </application>

</manifest>